@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista  solicitudes registradas</h1>


   
</div>

    @if (Model.Count == 0) {
    <p class="text-warning">No se encontro ninguna solicitudes registradas</p>
    <a asp-controller="Home" asp-action="Producto">
        <button class="btn btn-block btn-info" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
        </svg> Porfavor Registrar! </button>
    </a>

        }else{
            <p class="text-warning">Solicitudes registradas previamente en los últimos 5 días</p>
            <div class="row">
            @foreach (var productos in Model)
            {
                                
                <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="">
                        <ul class="list-group ">
                            <li class="list-group-item list-group-item-light">NOMBRE: @productos.Nombre</li>
                            <li class="list-group-item list-group-item-light">Descripción: @productos.descripcion</li>
                            <li class="list-group-item list-group-item-light">Foto:@productos.url</li>
                            <li class="list-group-item list-group-item-light">precio: @productos.precio</li>
                            <li class="list-group-item list-group-item-light">Celular:@productos.celular</li>
                            <li class="list-group-item list-group-item-light">Lugar:@productos.lugar</li>
                            <li class="list-group-item list-group-item-light">Usuario: @productos.user</li>
                        </ul>
                            
                </div>
                </div>
                </div>
                
                  
                
            }
            </div>
        }
        

